html, body {
    background: #f9f9f9;
    margin:0 ;
    padding: 0;
}

body {
    font-family: 'M PLUS 1p', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.appbar {
    background: #665500;
    color: white;
    padding: .2rem .5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
}
@media all and (display-mode: standalone) {
    div.appbar {
        background: #002244;
    }
}
div.appbar div.title {
    flex-grow: 1;
}

div.content {
    margin: 0 .5rem;
}

.rank_ball_basic { color: #ff0000; }
.rank_ball_great { color: #0000ff; }
.rank_ball_ultra { color: #000000; }
.rank_ball_master { color: #cc00cc; }

.dozing { background: #fdec6e; }
.snoozing { background: #85fbff; }
.slumbering { background: #5592fc; }
.sleep_type {
    font-size: .8rem;
    padding: 0 .7rem;
    margin: 0 .2rem;
    color: #333;
    border-radius: .5rem;
}

div.score_box {
    width: 4rem;
}

div.preview {
    margin-top: 1rem;
    margin-bottom: 10rem;
}

div.preview_count {
    padding: .7rem 0;
    border-bottom: 3px dotted #ddd;
}

div.preview_grid {
    display: grid;
    width: 100%;
    grid-template-columns: 4.5rem max-content 1.5rem max-content;
    row-gap: .5rem;
}

div.preview_warning {
    display: grid;
    width: 100%;
    grid-template-columns: 4.5rem 1fr;
}

.sum-tooltip {
    display: inline-block;
    position: relative;
    border: 3px solid #ffffff;
    background-color: #f7ac33;
    color: white;
    font-size: .9rem;
    border-radius: .5rem;
    padding: .1rem .5rem;
    box-shadow: 0 0 .1rem #999;
    margin-bottom: .2rem;
}

.sum-tooltip::before {
    content: '';
    position: absolute;
    display: block;
    width: 0px;
    left: 50%;
    bottom: 0;
    border: 10px solid transparent;
    border-bottom: 0;
    border-top: 10px solid #f7ac33;
    transform: translate(-50%, calc(100% - .1rem));
}

.sum-tooltip strong {
    font-size: 1rem;
    font-weight: 700;
}

div.preview_grid div.sum {
    padding: 0;
    color: #ff6347;
}

div.count_box {
    width: 5rem;
}

div.count span.ball{
    color: #ff6347;
    font-size: 1.2rem;
}
div.count span.multiply {
    color: #666;
    font-size: 1.2rem;
}
div.count span.value {
    color: #e6a83a;
    font-size: 1.4rem;
}

div.power {
    color: #aaaaaa;
    font-size: .7rem;
    margin-top: -.2rem;
    white-space: nowrap;
}

div.start, div.end {
    padding-top: .3rem;
}

div.score_separator {
    padding: .3rem .2rem;
    text-align: center;
}

div.sleep_time {
    display: flex;
    align-items: flex-start;
}

div.time {
    font-size: .9rem;
    font-weight: 700;
    margin-left: .3rem;
    margin-top: 0rem;
}

div.time div.time_power {
    color: #aaaaaa;
    font-size: .8rem;
    font-weight: 500;
    margin-top: -.2rem;
}

div.meet1more {
    color: #888;
    font-size: .95rem;
    margin-top: .8rem;
    display: flex;
    gap: .5rem;
}
div.meet1more svg {
    color: #bbb;
    padding-top: .2rem;
}
div.meet1more strong {
    font-size: 1rem;
}
div.meet1more button {
    padding: 0;
    min-width: 2rem;
}

div.warning {
    padding-left: 2.2rem;
    text-indent: -1.2rem;
    color: #666;
}
div.warning::before {
    content: '\26a0\fe0f';
}

div.encounter {
    border: 1px solid #ccc;
    border-radius: 0.8rem;
    box-shadow: 0 .1rem .2rem #ddd;
    margin-bottom: .3rem;
}
div.encounter div.preview_count {
    border: 0;
    transform: scale(0.9);
    padding: 0;
}

div.encounter div.MuiAlert-standard {
    border-radius: 0 0 0.8rem 0.8rem;
    padding: 0 0.4rem;
    margin-top: .3rem;
}
div.encounter div.MuiAlert-icon {
    margin-right: 4px;
}

div.pwa_banner {
    background: white;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 -.2rem .4rem #ccc;
    padding: .5rem;
    bottom: 0;
    z-index: 1000;
}
div.pwa_banner_container {
    display: flex;
}

div.pwa_banner_container > svg {
    align-items: flex-start;
    padding-top: .5rem;
    padding-right: 6px;
    width: 24px;
    flex-shrink: 0;
}
div.pwa_banner_container > div.pwa_banner_body {
    flex-grow: 1;
    padding-top: .5rem;
}
div.pwa_banner_container > button.MuiIconButton-root {
    margin-right: auto;
    align-self: start;
}
div.pwa_banner p {
    margin: 0 0 .5rem 0;
}
div.pwa_banner button {
    font-size: .8rem;
}
div.pwa_banner button.add {
    border-radius: 1rem;
    background: #24da6d;
}
div.pwa_banner button.later {
    color: black;
}

div.ios_pwa div.MuiDialogContent-root {
    padding: 1rem;
}

div.ios_pwa ol {
    margin: 0;
    padding-left: 1.6rem;
    list-style-type: none;
}
div.ios_pwa ol li {
    counter-increment: step-counter;
    position: relative;
    padding-bottom: .6rem;
}
div.ios_pwa ol li::before {
    content: counter(step-counter);
    position: absolute;
    left: -1.8rem;
    top: .6rem;
    background-color: #24da6d;
    color: white;
    border-radius: 1rem;
    width: 18px;
    height: 18px;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
}
div.ios_pwa ol li button{
    padding: 0;
    padding-top: .2rem;
}
div.ios_pwa ol li svg {
    position: relative;
    top: .4rem;
}

button.close_button {
    position: absolute;
    right: 8px;
    top: 12px;
}
