html, body {
    background: #f9f9f9;
    margin:0 ;
    padding: 0;
}

body {
    font-family: 'M PLUS 1p', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div#root {
    position: relative;
}

body > div.MuiDialog-root,
body > div.MuiPopover-root,
body > div.base-Popper-root {
    z-index: 2147483647 !important;
}

.dozing { background: #fdec6e; }
.snoozing { background: #85fbff; }
.slumbering { background: #5592fc; }
.sleep_type {
    font-size: .8rem;
    padding: 0 .7rem;
    margin: 0 .2rem;
    color: #333;
    border-radius: .5rem;
}

div.score_box {
    width: 4rem;
}

div.encounter {
    border: 1px solid #ccc;
    border-radius: 0.8rem;
    box-shadow: 0 .1rem .2rem #ddd;
    margin-bottom: .3rem;
}
div.encounter div.preview_count {
    border: 0;
    transform: scale(0.9);
    padding: 0;
}

div.encounter div.MuiAlert-standard {
    border-radius: 0 0 0.8rem 0.8rem;
    padding: 0 0.4rem;
    margin-top: .3rem;
}
div.encounter div.MuiAlert-icon {
    margin-right: 4px;
}
