div.sleep_score_table {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: .5rem;
    column-gap: .3rem;
}

div.sleep_score_table span {
    font-size: .9rem;
    padding-top: .4rem;
}
