form.main {
    display: grid;
    gap: 0.8rem 1.2rem;
    grid-template-columns: fit-content(200px) 1fr;
}

form.main div[role="combobox"] {
    padding-bottom: 2px;
}

form.main div.rank {
    width: 4rem;
    margin-right: 1rem;
}

form.main div.rank span.rank_number {
    padding-left: .2rem;
}

form.main div.rank span.strength {
    display: none;
}

form.main div.strength {
    width: calc(100% - 5rem);
}
form.main div.strength input {
    font-weight: 800;
    font-size: 1rem;
    padding-bottom: 2px;
}

form.main div.strength_second_line {
    display: flex;
    align-items: center;
    margin-top: .2rem;
}

button.rank_move {
    width: 1rem;
    height: 1rem;
    background: white;
    font-size: .8rem;
    border: 1px solid #999;
}
button.rank_move::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    background: #999999;
    opacity: 0;
}
button.rank_move:active::before {
    animation: rippleOn 200ms forwards ease-out;
}

@keyframes rippleOn {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 0;
      transform: scale(4,4);
    }
}

    /*button.rank_move:hover,
button.rank_move.Mui-focusVisible {
    background: white;
}*/

form.main span.strength_progress {
    width: calc(100% - 4rem);
    margin: 0 1rem;
}

.strength_progress .MuiSlider-track {
    color: #f7ac33;
    height: .5rem;
}
.strength_progress .MuiSlider-rail {
    color: #999999;
    height: .5rem;
}
.strength_progress .MuiSlider-thumb {
    color: #f7ac33;
    width: .9rem;
    height: .9rem;
}
.strength_progress .MuiSlider-thumb::after {
    width: 1rem;
    height: 1rem;
}
.strength_progress .MuiSlider-thumb.Mui-active,
.strength_progress .MuiSlider-thumb:hover,
.strength_progress .MuiSlider-thumb.Mui-focusVisible {
    box-shadow: 0px 0px 0px 6px rgba(235,219,102,0.4);
}

.strength_progress.scrollup .MuiSlider-track {
    animation: 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s alternate scrollup-track;
}
.strength_progress.scrollup .MuiSlider-thumb {
    animation: 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s alternate scrollup-thumb;
}
.strength_progress.scrolldown .MuiSlider-track {
    animation: 200ms ease-in-out 0s normal scrollup-track;
}
.strength_progress.scrolldown .MuiSlider-thumb {
    animation: 200ms ease-in-out 0s normal scrollup-thumb;
}
@keyframes scrollup-track {
    from { width: 0%; }
    to { width: 100%; }
}
@keyframes scrollup-thumb {
    from { left: 0%; }
    to { left: 100%; }
}

.MuiMenuItem-root span.rank_ball {
    font-size: 1rem;
}

.MuiMenuItem-root span.rank_number {
    font-size: 1rem;
    padding-left: .2rem;
    font-weight: 600;
}
.MuiMenuItem-root span.strength {
    padding-left: 1.2rem;
    color: #999;
    font-size: .9rem;
    font-weight: normal;
}



