form.main {
    display: grid;
    gap: 0.8rem 1.2rem;
    grid-template-columns: fit-content(200px) 1fr;
}

form.main div[role="combobox"] {
    padding-bottom: 2px;
}

span.field_icon {
    padding-right: .2rem;
}

form.main div.rank {
    width: 4rem;
    margin-right: 1rem;
}

form.main div.rank span.rank_number {
    padding-left: .2rem;
}

form.main div.rank span.strength {
    display: none;
}

form.main div.strength {
    width: calc(100% - 5rem);
}
form.main div.strength input {
    font-weight: 800;
    font-size: 1rem;
    padding-bottom: 2px;
}

form.main div.strength_second_line {
    display: flex;
    align-items: center;
    margin-top: .2rem;
    user-select: none;
}

button.rank_move {
    width: 1.3rem;
    height: 1.3rem;
    background: white;
    font-size: .8rem;
    border-radius: 50%;
    padding: 0;
    border: 1px solid #999;
    color: #000;
    cursor: pointer;
    flex-shrink: 0;
    position: relative;
}
button.rank_move:hover {
    background: #f0f0ee;
}
button.rank_move:disabled {
    background: #eee;
    border: 1px solid #ccc;
}
button.rank_move::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1.3rem;
    height: 1.3rem;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    background: #999999;
    opacity: 0;
}

form.main span.strength_progress {
    width: calc(100% - 4rem);
    margin: 0 1rem;
}

.strength_progress .MuiSlider-track {
    color: #f7ac33;
    height: .5rem;
}
.strength_progress .MuiSlider-rail {
    color: #999999;
    height: .5rem;
}
.strength_progress .MuiSlider-thumb {
    color: #f7ac33;
    width: .9rem;
    height: .9rem;
}
.strength_progress .MuiSlider-thumb::after {
    width: 1rem;
    height: 1rem;
}
.strength_progress .MuiSlider-thumb.Mui-active,
.strength_progress .MuiSlider-thumb:hover,
.strength_progress .MuiSlider-thumb.Mui-focusVisible {
    box-shadow: 0px 0px 0px 6px rgba(235,219,102,0.4);
}

.MuiMenuItem-root span.rank_ball {
    font-size: 1rem;
}

.MuiMenuItem-root span.rank_number {
    font-size: 1rem;
    padding-left: .2rem;
}
.MuiMenuItem-root span.strength {
    padding-left: 1.2rem;
    color: #999;
    font-size: .9rem;
    font-weight: normal;
}

form.main .MuiInput-input:focus {
    background: inherit;
}