div.strength_container {
    position: relative;
}

div.rank_container {
    position: absolute;
    background: white;
    border-radius: 50%;
}

button.rank {
    text-align: center;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    min-width: 4rem;
    padding: 0;
    border: .2rem solid #f5ca3b;
    box-shadow: 0 0 0 .1rem #e3b142, inset 0 0 0 .1rem #e3b142, 0 0 8px 2px #ccc;
    background: white;
}

button.rank .rank_ball {
    position: absolute;
    font-size: 2.5rem;
}
button.rank .rank_badge {
    position: absolute;
    font-size: .7rem;
    color: black;
    background: white;
    border: .1rem solid #666666;
    font-weight: 800;
    width: 1.1rem;
    height: 1.1rem;
    top: 1.9rem;
    left: 1.7rem;
    border-radius: 50%;
}
button.rank svg {
    position: absolute;
    left: 2.4rem;
    width: 1.6rem;
    height: 1.7rem;
    opacity: 60%;
}

.MuiMenuItem-root span.rank_number {
    padding-left: .2rem;
    font-weight: 600;
}
.MuiMenuItem-root span.strength {
    padding-left: .5rem;
    color: #999;
    font-size: .8rem;
    font-weight: normal;
}

div.strength_main {
    margin-left: 2rem;
    border: 2px solid #ccc;
    border-radius: .6rem;
    overflow: hidden;
    box-shadow: 0 0 8px 2px #ccc;
}

div.strength_first_line {
    display: flex;
    align-items: flex-end;
    border-bottom: 0;
    padding: 0rem 0.2rem 0.3rem 2.5rem;
    height: 2rem;
    background: #fff;
}

div.strength_first_line > div {
    width: 48%;
    padding-right: 2%;
}

div.strength_first_line div[role="combobox"] {
    font-size: 0.9rem;
}
div.strength_first_line input {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0;
}
/* fix margin after 🔥 icon */
div.strength_first_line .MuiInputBase-inputSizeSmall {
    padding: 0;
}
div.strength_first_line .MuiInput-underline::after {
    border-bottom: 2px solid #ffa71d;
}


div.strength_second_line {
    background: #0cc160;
    padding: .2rem .4rem;
    padding-left: 2.4rem;
    display: flex;
    align-items: center;
    height: 1rem;
}

button.rank_move {
    width: 1rem;
    height: 1rem;
    background: white;
    font-size: .8rem;
    color: #0cc160;
}
button.rank_move:hover,
button.rank_move.Mui-focusVisible {
    background: white;
}

.strength_progress {
    margin: 0 1rem;
}

.strength_progress .MuiSlider-track {
    color: #ebdb66;
    height: .5rem;
}
.strength_progress .MuiSlider-rail {
    color: #1e8a4f;
    height: .5rem;
}
.strength_progress .MuiSlider-thumb {
    color: #ebdb66;
    width: .9rem;
    height: .9rem;
}
.strength_progress .MuiSlider-thumb::after {
    width: .9rem;
    height: .9rem;
}
.strength_progress .MuiSlider-thumb.Mui-active,
.strength_progress .MuiSlider-thumb:hover {
    box-shadow: 0px 0px 0px 5px rgba(235,219,102,0.3);
}
