div.sleep_time {
    display: flex;
    align-items: flex-start;
}

div.pie {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.4rem;
    height: 2.4rem;
    font-size: .7rem;
    font-weight: 700;
    border-radius: 50%;
    color: #489eff;
    background-image: radial-gradient(#ffffff 50%, transparent 51%), conic-gradient(#489eff 0% 0%, #dddddd 1% 100%);
}

div.time {
    font-size: 1rem;
    font-weight: 700;
    margin-left: .3rem;
    margin-top: 0rem;
}

div.time div.time_power {
    color: #aaaaaa;
    font-size: .8rem;
    font-weight: 500;
    margin-top: -.2rem;
}